@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding-left: 9%;
  padding-right: 8%;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Header ------------------------------ */

/* Your CSS code goes here */

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 7%;
  width: 100%;
}

.logo{
  margin-bottom: 5%;
}

.center-header{
  display:flex;
  flex-direction: row;
justify-content: center;

  
}
.links-center-header{
  margin-right: 10%;
margin-left: 10%;
text-decoration:none;
font-weight:550;
color: grey;

}
.btn-contactUs-header{
  font-size: 15px;
  background-color: #072ac8;
  border: #072ac8;
  width: 150px;
  height: 50px;
  color: white;
  font-weight:600;
}

/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
