@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
.container-hero-section{
  display: flex;
  flex-direction: row;
  height: 50%;
}


/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */


/* ------------------------------ Header ------------------------------ */

/* Your CSS code goes here */

.header {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;

}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}
.links{
  font-weight: 500;
}
.header .nav-links a {

  color: #515456;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #4479f5;
}

.btn button {
  font-weight: 700;
  color: white;
  background: #072ac8;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 150px;
  height: 60px;
  font-size: 20px;
  padding: 5%;
}

.header .btn button:hover {
  background-color:  #515456;;
  color: white;
  transform: scale(1.1);
}

/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
