@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
.container-hero-section {
  justify-content: space-around;
  display: flex;

  width: 60%;
  margin: 0 auto;
}

.info-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*frases hero*/

.frase-empresa {
  font-size: 60px;
  font-weight: 800;
}
.frase-informativa {
  font-size: 28px;
  color: grey;
  font-weight: 200;
  line-height: 40px;
}

/*botones-hero*/
.div-buttons-hero {
  display: flex;
}
.link-hero-original {
  text-decoration: none;
  color: grey;

  font-size: 20px;
}
.link-hero {
  text-decoration: none;
  color: grey;
}
.btn-hero {
  background: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 150px;
  height: 60px;
  font-size: 20px;
}

.link-hero-second {
  text-decoration: none;
  color: white;
}
.btn-hero-second {
  color: white;
  background: #072ac8;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 150px;
  height: 60px;
  font-size: 20px;
}
/*imagen-hero*/

.div-hero-img {
  position: relative;
}

.big-img-hero {
  width: 500px;
  height: 600px;
}
.card-1 {
  position: absolute;
  width: 60%;
  right: 60%;
}
.card-2 {
  position: absolute;
  width: 60%;
  top: 65%;
  right: -29%;
}

/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Header ------------------------------ */

/* Your CSS code goes here */

.header {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
  margin-bottom: 5%;
}

.header .logo {
  cursor: pointer;
}

.header .logo :hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}
.links {
  font-weight: 500;
}
.header .nav-links a {
  color: #515456;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #4479f5;
}

.btn button {
  font-weight: 700;
  color: white;
  background: #072ac8;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 150px;
  height: 60px;
  font-size: 20px;
  padding: 5%;
}

.header .btn button:hover {
  background-color: #515456;
  color: white;
  transform: scale(1.1);
}

/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */
.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8%;
}
.logo-direction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links-footer {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 200px 200px 200px;
}
.link-footer {
  text-decoration: none;
  color: #072ac8;
}

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
.container-contact-us {
  margin-right: 12%;
  margin-left: 12%;
  margin-top: 5%;
  color: #3e4042;
}
.title-contact-us {
  font-size: 32px;
}
input[type="text"],
input[type="phone"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #e3e1e165;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 25px;
}

input[type="submit"] {
  background-color: #072ac8;
  color: white;
  padding: 24px 40px;
  border: none;
  width: 100%;
  font-size: 25p;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e4042;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.div-phone-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div-phone,
.div-email {
  display: flex;
  flex-direction: column;
  width: 48%;
}
label {
  font-size: 25px;
}
form {
  margin-top: 5%;
}
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
